version: '2'
services:
  wordpress:
    # default port 9000 (FastCGI)
    image: wordpress:5-fpm
    container_name: wp-wordpress
    env_file:
      - .env
    restart: unless-stopped
    networks:
      wp-inova:
        ipv4_address: 192.168.100.154
    ports:
      - "9001:9001" 
    depends_on:
      - database
    links:
      - database
    volumes:
      - "${WORDPRESS_LOCAL_HOME}:/var/www/html"
      - "${WORDPRESS_UPLOADS_CONFIG}:/usr/local/etc/php/conf.d/uploads.ini"
      # - /path/to/repo/myTheme/:/var/www/html/wp-content/themes/myTheme
    environment:
      - "WORDPRESS_DB_HOST: ${MYSQL_DB_HOST}"
      - "WORDPRESS_DB_NAME: ${MYSQL_DATABASE}"
      - "WORDPRESS_DB_USER:  ${MYSQL_USER}"
      - "WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}"
      # WORDPRESS_CONFIG_EXTRA: |
      #          define('WP_HOME',${WP_HOME});
      #          define('WP_SITEURL', ${WP_SITEURL});
      #          define('FORCE_SSL_ADMIN', ${FORCE_SSL});    

  database:
    # default port 3306
    image: mysql:8
    container_name: "wp-database-mysql8"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - wp-inova
    ports:
      - "3306:3306"    # http
    environment:
      - "MYSQL_DATABASE=${MYSQL_DATABASE}"
      - "MYSQL_USER=${MYSQL_USER}"
      - "MYSQL_PASSWORD=${MYSQL_PASSWORD}"
      - "MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}"
    volumes:
      - "${MYSQL_LOCAL_HOME}:/var/lib/mysql"
    command:
      - "--default-authentication-plugin=mysql_native_password"

  nginx:
    # default ports 80, 443 - expose mapping as needed to host
    image: nginx:1
    container_name: wp-nginx
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - wp-inova
    depends_on:
      - wordpress
    ports:
      - "8082:80"    # http
      - "8443:443"   # https
    volumes:
      - "${WORDPRESS_LOCAL_HOME}:/var/www/html"
      - "${NGINX_CONF}:/etc/nginx/conf.d/default.conf"
      # - ${NGINX_SSL_CERTS}:/etc/ssl:ro
      - "${NGINX_LOGS}:/var/log/nginx"
  

networks:
  wp-inova:
    driver: bridge
    ipam:
     config:
       - subnet: "192.168.100.0/24"
         gateway: 192.168.100.1